{% extends 'base.html' %}

{% block title %}404{% endblock %}

{% block styles %} 
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/404.css') }}">
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    <main class="container_error">
      <h1 class="error">404</h1>
      <p class="info_error">La página que buscas no existe</p>
    </main>

    <style>
      .container_error {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
      }

      .error {
        font-size: 8rem;
        font-weight: bold;
      }

      .info_error {
        font-size: 1.5rem;
      }
    </style>
{% endblock %}
{% block scripts %}{% endblock %}