{% extends 'base_admin.html' %}

{% block title %}añadir hotel{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_mis_reservas.css') }}">
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<section id="sobre">
    <form action="{{ url_for('admin_add_hotel') }}" method="post">
      <article class="card">
        <div class="card__content">

          <aside class="card__header">
            <h2 class="card__title">Agregar hotel</h2>
          </aside>
          <aside class="card__description">
            <p>
                Nombre
            </p>
            <input class="btn" type="text" id="numero_reserva" name = "fnombre">
            <p>
                Direccion
            </p>
            <input class="btn" type="text" id="apellido_cliente" name = "fdireccion">
            <p>
                Descripción
            </p>
            <input class="btn" type="text" id="apellido_cliente" name = "fdescripcion">
            <p>
                Imagen
            </p>
            <input class="btn" type="text" id="apellido_cliente" name = "furl_img">
            <p>
                Region
            </p>
            <input class="btn" type="text" id="apellido_cliente" name = "fregion">
          </aside>

          <div >
              <button type="submit" value="Verificar reserva" class="btn btn--warning btn--size-medium btn-medium-large" > Agregar</button>
          </div>
          {{error}}
        </div>

        <div class="card__image">
          <img src="{{ url_for('static', filename = 'assets/garden-area.jpg')}}" alt="Estancias del Sol">
        </div>
      </article>
    </form>
  </section>
{% endblock %}
