{%extends 'base_admin.html'%}
{%block title%}Panel de Administración{%endblock%}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/flatpickr.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{%block body%}
<section id="hoteles">
  <h2>Panel de administracion hotel</h2>
 
  <div class="hoteles__container">
      {% for hotel in hotels %}
        <article class="card">
          <div class="card__image">
            <img src="{{ hotel['url_img'] }}" alt="Hotel en {{ hotel['region'] }}">
          </div>
          <div class="card__content">
            <aside class="card__description">
              <p>
                {{ hotel['descripcion'] }}
              </p>
            </aside>
            <a href="{{ url_for('admin_update_hotel', id=hotel['id']) }}" class="btn btn--primary btn--size-medium">Editar</a>
            <button type="button" id="" data-nombre="{{ hotel['nombre'] }}" data-url="{{ url_for('admin_delete_hotel', id=hotel['id'])}}">Eliminar</button>
          </div>
        </article>
      {% endfor %}
  </div>
</section>

{%endblock%}
