<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detalles de la reserva</title>
    <link rel="stylesheet" href="../static/css5/style.css">
</head>
<body>
    <table align="center">
        <tr>
             <td> 
               
               <h1 class="importante-msj">"TU RESERVA SE REGISTRO EXITOSAMENTE"</h1> 
               <br></br>
              
               <h2 class="importante-msj">DETALLES :</h2>                          
                <ol class="subfondo-detalle">
                 <li>codigo de reserva: [40437]</li>
                 <li>numero de habitacion: [2A]</li>
                 <li>registrado a nombre de:[ART SAN]</li>
                 <li>fecha de llegada:[12-12-24]</li>
                 <li>fecha de salida:[14-12-24]</li>                
                </ol>
                <br></br>

               <h2 class="importante-msj">SERVICIOS SOLICITADOS :</h2>
               <ol class="subfondo-detalle">
                 <li>spa</li>
                 <li>translado</li>
                 <li>aparcamiento</li>                
               </ol>
              <br></br> 

              <a href="./reservas.html">volver</a>
                 
            
             </td>
        </tr>
    </table>             
</body>
</html>
