<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reservar_habitacion</title>
    <link rel="stylesheet" href="../static/css5/style.css">
</head>
<body>
    <table align="center">
        <tr>
            <td>  
              <h1 class="title">RESERVAR HABITACION</h1>
              
              <form action ="./detalle.html" method="post" >
                <label class="subtile" for="fnombre">NOMBRE DEL USUARIO :</label>
                <br></br>
                <input class="cuadro" type="text" id="fnombre" name="nombre" required>
                <br></br>
        
                        
                <label class="subtile" for="fapellido">APELLIDO DEL USUARIO :</label>
                <br></br>
                <input class="cuadro" type="text" id="fapellido" name="apellido" required>
                <br></br>
              
               
                <label class="subtile" for="fcorreo">CORREO DEL USUARIO:</label>
                <br></br>
                <input class="cuadro" type="text" id="fcorreo" name="correo" required>
                <br></br>
        
                
                <label class="subtile" for="ftelefono">NUMERO DE CONTACTO:</label>
                <br></br>
                <input class="cuadro" type="text" id="ftelefono" name="telefono">
                <br></br>
        
                <button id="boton-reservar" type="submit">reservar</button>
              </form>
            </td>
        </tr>
    </table>          
</body>
</html>
