<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reservar_habitacion</title>
    <link rel="stylesheet" href="../static/css5/style.css">
</head>
<body>
    <table align="center">
        <tr>
            <td>  
              <h1 class="title">RESERVAR HABITACION</h1>
              
              <form action ="{{url_for('reservar')}}" method="post" >
                <label class="subtile" for="nombre">NOMBRE DEL USUARIO :</label>
                <br></br>
                <input class="cuadro" type="text" id="nombre" name="fnombre" required>
                <br></br>
        
                        
                <label class="subtile" for="apellido">APELLIDO DEL USUARIO :</label>
                <br></br>
                <input class="cuadro" type="text" id="apellido" name="fapellido" required>
                <br></br>
              
               
                <label class="subtile" for="correo">CORREO DEL USUARIO:</label>
                <br></br>
                <input class="cuadro" type="text" id="correo" name="fcorreo" required>
                <br></br>
        
                
                <label class="subtile" for="telefono">NUMERO DE CONTACTO:</label>
                <br></br>
                <input class="cuadro" type="text" id="telefono" name="ftelefono">
                <br></br>
        
                <button id="boton-reservar" type="submit">reservar</button>
              </form>
            </td>
        </tr>
    </table>          
</body>
</html>
